# manage core stuff for LF normalization
core.autocrlf=true
# Auto detect text files and perform LF normalization
* text=auto
# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union
# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
#unix/linux stuff (tarballs)
print-cdp.c filter=lfs diff=lfs merge=lfs -text
setsignal.h filter=lfs diff=lfs merge=lfs -text
ascii_strcasecmp.c filter=lfs diff=lfs merge=lfs -text
print-gre.c filter=lfs diff=lfs merge=lfs -text
print-smb.c filter=lfs diff=lfs merge=lfs -text
ppp.h filter=lfs diff=lfs merge=lfs -text
print-eap.c filter=lfs diff=lfs merge=lfs -text
send-ack.awk filter=lfs diff=lfs merge=lfs -text
machdep.h filter=lfs diff=lfs merge=lfs -text
print-isakmp.c filter=lfs diff=lfs merge=lfs -text
print-olsr.c filter=lfs diff=lfs merge=lfs -text
print-sl.c filter=lfs diff=lfs merge=lfs -text
print-sll.c filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BSD filter=lfs diff=lfs merge=lfs -text
PLATFORMS filter=lfs diff=lfs merge=lfs -text
print-enc.c filter=lfs diff=lfs merge=lfs -text
print-lane.c filter=lfs diff=lfs merge=lfs -text
print-mpls.c filter=lfs diff=lfs merge=lfs -text
gmpls.c filter=lfs diff=lfs merge=lfs -text
ip.h filter=lfs diff=lfs merge=lfs -text
print-mpcp.c filter=lfs diff=lfs merge=lfs -text
print-pppoe.c filter=lfs diff=lfs merge=lfs -text
rpc_auth.h filter=lfs diff=lfs merge=lfs -text
addrtoname.h filter=lfs diff=lfs merge=lfs -text
config.guess filter=lfs diff=lfs merge=lfs -text
Makefile.in filter=lfs diff=lfs merge=lfs -text
print-bgp.c filter=lfs diff=lfs merge=lfs -text
print-igmp.c filter=lfs diff=lfs merge=lfs -text
print-babel.c filter=lfs diff=lfs merge=lfs -text
print-bfd.c filter=lfs diff=lfs merge=lfs -text
print-sflow.c filter=lfs diff=lfs merge=lfs -text
signature.h filter=lfs diff=lfs merge=lfs -text
gmt2local.c filter=lfs diff=lfs merge=lfs -text
print-bt.c filter=lfs diff=lfs merge=lfs -text
print.h filter=lfs diff=lfs merge=lfs -text
print-usb.c filter=lfs diff=lfs merge=lfs -text
print-zephyr.c filter=lfs diff=lfs merge=lfs -text
tcp.h filter=lfs diff=lfs merge=lfs -text
pcap_dump_ftell.c filter=lfs diff=lfs merge=lfs -text
print-cip.c filter=lfs diff=lfs merge=lfs -text
print-mptcp.c filter=lfs diff=lfs merge=lfs -text
print-openflow.c filter=lfs diff=lfs merge=lfs -text
rpl.h filter=lfs diff=lfs merge=lfs -text
CREDITS filter=lfs diff=lfs merge=lfs -text
in_cksum.c filter=lfs diff=lfs merge=lfs -text
print-null.c filter=lfs diff=lfs merge=lfs -text
print-vjc.c filter=lfs diff=lfs merge=lfs -text
print-vrrp.c filter=lfs diff=lfs merge=lfs -text
CleanSpec.mk filter=lfs diff=lfs merge=lfs -text
print-dtp.c filter=lfs diff=lfs merge=lfs -text
print-m3ua.c filter=lfs diff=lfs merge=lfs -text
print-nsh.c filter=lfs diff=lfs merge=lfs -text
print-tftp.c filter=lfs diff=lfs merge=lfs -text
print-lwapp.c filter=lfs diff=lfs merge=lfs -text
gmpls.h filter=lfs diff=lfs merge=lfs -text
nlpid.h filter=lfs diff=lfs merge=lfs -text
print-geonet.c filter=lfs diff=lfs merge=lfs -text
print-icmp6.c filter=lfs diff=lfs merge=lfs -text
print-lmp.c filter=lfs diff=lfs merge=lfs -text
lbl filter=lfs diff=lfs merge=lfs -text
print-ftp.c filter=lfs diff=lfs merge=lfs -text
mib.h filter=lfs diff=lfs merge=lfs -text
print-isoclns.c filter=lfs diff=lfs merge=lfs -text
setsignal.c filter=lfs diff=lfs merge=lfs -text
print-cfm.c filter=lfs diff=lfs merge=lfs -text
print-ip6opts.c filter=lfs diff=lfs merge=lfs -text
print-lwres.c filter=lfs diff=lfs merge=lfs -text
print-rip.c filter=lfs diff=lfs merge=lfs -text
print-tipc.c filter=lfs diff=lfs merge=lfs -text
print-fddi.c filter=lfs diff=lfs merge=lfs -text
print-arcnet.c filter=lfs diff=lfs merge=lfs -text
print-frag6.c filter=lfs diff=lfs merge=lfs -text
print-sunrpc.c filter=lfs diff=lfs merge=lfs -text
stime.awk filter=lfs diff=lfs merge=lfs -text
atime.awk filter=lfs diff=lfs merge=lfs -text
print-ipfc.c filter=lfs diff=lfs merge=lfs -text
print-syslog.c filter=lfs diff=lfs merge=lfs -text
util-print.c filter=lfs diff=lfs merge=lfs -text
l2vpn.h filter=lfs diff=lfs merge=lfs -text
print-hsrp.c filter=lfs diff=lfs merge=lfs -text
print-pptp.c filter=lfs diff=lfs merge=lfs -text
version.c filter=lfs diff=lfs merge=lfs -text
ah.h filter=lfs diff=lfs merge=lfs -text
ether.h filter=lfs diff=lfs merge=lfs -text
makemib filter=lfs diff=lfs merge=lfs -text
print-ipx.c filter=lfs diff=lfs merge=lfs -text
print-vxlan.c filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
ethertype.h filter=lfs diff=lfs merge=lfs -text
l2vpn.c filter=lfs diff=lfs merge=lfs -text
netdissect.c filter=lfs diff=lfs merge=lfs -text
print-vqp.c filter=lfs diff=lfs merge=lfs -text
vfprintf.c filter=lfs diff=lfs merge=lfs -text
interface.h filter=lfs diff=lfs merge=lfs -text
print-bootp.c filter=lfs diff=lfs merge=lfs -text
print-domain.c filter=lfs diff=lfs merge=lfs -text
print-lisp.c filter=lfs diff=lfs merge=lfs -text
print-udp.c filter=lfs diff=lfs merge=lfs -text
print-fr.c filter=lfs diff=lfs merge=lfs -text
cpack.c filter=lfs diff=lfs merge=lfs -text
extract.h filter=lfs diff=lfs merge=lfs -text
netdissect-stdinc.h filter=lfs diff=lfs merge=lfs -text
print-chdlc.c filter=lfs diff=lfs merge=lfs -text
print-cnfp.c filter=lfs diff=lfs merge=lfs -text
Makefile-devel-adds filter=lfs diff=lfs merge=lfs -text
print-ahcp.c filter=lfs diff=lfs merge=lfs -text
print-igrp.c filter=lfs diff=lfs merge=lfs -text
print-l2tp.c filter=lfs diff=lfs merge=lfs -text
print-udld.c filter=lfs diff=lfs merge=lfs -text
ascii_strcasecmp.h filter=lfs diff=lfs merge=lfs -text
bpf_dump.c filter=lfs diff=lfs merge=lfs -text
nlpid.c filter=lfs diff=lfs merge=lfs -text
print-ether.c filter=lfs diff=lfs merge=lfs -text
print-ip.c filter=lfs diff=lfs merge=lfs -text
print-mobility.c filter=lfs diff=lfs merge=lfs -text
print-ntp.c filter=lfs diff=lfs merge=lfs -text
print-sunatm.c filter=lfs diff=lfs merge=lfs -text
tcpdump.1.in filter=lfs diff=lfs merge=lfs -text
gmt2local.h filter=lfs diff=lfs merge=lfs -text
print-forces.c filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
print-resp.c filter=lfs diff=lfs merge=lfs -text
print-tcp.c filter=lfs diff=lfs merge=lfs -text
print-vxlan-gpe.c filter=lfs diff=lfs merge=lfs -text
print-symantec.c filter=lfs diff=lfs merge=lfs -text
print-telnet.c filter=lfs diff=lfs merge=lfs -text
strtoaddr.h filter=lfs diff=lfs merge=lfs -text
missing filter=lfs diff=lfs merge=lfs -text
parsenfsfh.c filter=lfs diff=lfs merge=lfs -text
print-icmp.c filter=lfs diff=lfs merge=lfs -text
print-ppp.c filter=lfs diff=lfs merge=lfs -text
print-rt6.c filter=lfs diff=lfs merge=lfs -text
win32 filter=lfs diff=lfs merge=lfs -text
config.h.in filter=lfs diff=lfs merge=lfs -text
print-decnet.c filter=lfs diff=lfs merge=lfs -text
print-juniper.c filter=lfs diff=lfs merge=lfs -text
print-mobile.c filter=lfs diff=lfs merge=lfs -text
timeval-operations.h filter=lfs diff=lfs merge=lfs -text
print-atm.c filter=lfs diff=lfs merge=lfs -text
print-nfs.c filter=lfs diff=lfs merge=lfs -text
print-otv.c filter=lfs diff=lfs merge=lfs -text
af.h filter=lfs diff=lfs merge=lfs -text
configure.in filter=lfs diff=lfs merge=lfs -text
nfsfh.h filter=lfs diff=lfs merge=lfs -text
oui.h filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
VERSION filter=lfs diff=lfs merge=lfs -text
addrtoname.c filter=lfs diff=lfs merge=lfs -text
print-ap1394.c filter=lfs diff=lfs merge=lfs -text
print-zeromq.c filter=lfs diff=lfs merge=lfs -text
print-loopback.c filter=lfs diff=lfs merge=lfs -text
print-rpki-rtr.c filter=lfs diff=lfs merge=lfs -text
cpack.h filter=lfs diff=lfs merge=lfs -text
print-802_11.c filter=lfs diff=lfs merge=lfs -text
print-timed.c filter=lfs diff=lfs merge=lfs -text
strtoaddr.c filter=lfs diff=lfs merge=lfs -text
smb.h filter=lfs diff=lfs merge=lfs -text
INSTALL.txt filter=lfs diff=lfs merge=lfs -text
print-msdp.c filter=lfs diff=lfs merge=lfs -text
print-rtsp.c filter=lfs diff=lfs merge=lfs -text
print-rx.c filter=lfs diff=lfs merge=lfs -text
print-sip.c filter=lfs diff=lfs merge=lfs -text
ospf.h filter=lfs diff=lfs merge=lfs -text
print-msnlb.c filter=lfs diff=lfs merge=lfs -text
print-pflog.c filter=lfs diff=lfs merge=lfs -text
print-ldp.c filter=lfs diff=lfs merge=lfs -text
README filter=lfs diff=lfs merge=lfs -text
funcattrs.h filter=lfs diff=lfs merge=lfs -text
print-beep.c filter=lfs diff=lfs merge=lfs -text
print-ppi.c filter=lfs diff=lfs merge=lfs -text
print-token.c filter=lfs diff=lfs merge=lfs -text
mpls.h filter=lfs diff=lfs merge=lfs -text
print-lspping.c filter=lfs diff=lfs merge=lfs -text
print-ah.c filter=lfs diff=lfs merge=lfs -text
print-llc.c filter=lfs diff=lfs merge=lfs -text
print-radius.c filter=lfs diff=lfs merge=lfs -text
print-pgm.c filter=lfs diff=lfs merge=lfs -text
print-stp.c filter=lfs diff=lfs merge=lfs -text
print-vtp.c filter=lfs diff=lfs merge=lfs -text
appletalk.h filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
rpc_msg.h filter=lfs diff=lfs merge=lfs -text
oui.c filter=lfs diff=lfs merge=lfs -text
print-esp.c filter=lfs diff=lfs merge=lfs -text
print-geneve.c filter=lfs diff=lfs merge=lfs -text
print-ipnet.c filter=lfs diff=lfs merge=lfs -text
Readme.Win32 filter=lfs diff=lfs merge=lfs -text
install-sh filter=lfs diff=lfs merge=lfs -text
netdissect.h filter=lfs diff=lfs merge=lfs -text
print-802_15_4.c filter=lfs diff=lfs merge=lfs -text
print-dhcp6.c filter=lfs diff=lfs merge=lfs -text
print-ospf.c filter=lfs diff=lfs merge=lfs -text
getopt_long.h filter=lfs diff=lfs merge=lfs -text
print-aoe.c filter=lfs diff=lfs merge=lfs -text
print-nflog.c filter=lfs diff=lfs merge=lfs -text
print-raw.c filter=lfs diff=lfs merge=lfs -text
print-sctp.c filter=lfs diff=lfs merge=lfs -text
checksum.c filter=lfs diff=lfs merge=lfs -text
config.sub filter=lfs diff=lfs merge=lfs -text
packetdat.awk filter=lfs diff=lfs merge=lfs -text
print-rrcp.c filter=lfs diff=lfs merge=lfs -text
udp.h filter=lfs diff=lfs merge=lfs -text
af.c filter=lfs diff=lfs merge=lfs -text
ipproto.c filter=lfs diff=lfs merge=lfs -text
nfs.h filter=lfs diff=lfs merge=lfs -text
print-aodv.c filter=lfs diff=lfs merge=lfs -text
print-egp.c filter=lfs diff=lfs merge=lfs -text
addrtostr.h filter=lfs diff=lfs merge=lfs -text
print-openflow-1.0.c filter=lfs diff=lfs merge=lfs -text
print-ripng.c filter=lfs diff=lfs merge=lfs -text
smbutil.c filter=lfs diff=lfs merge=lfs -text
mkdep filter=lfs diff=lfs merge=lfs -text
print-http.c filter=lfs diff=lfs merge=lfs -text
print-ipcomp.c filter=lfs diff=lfs merge=lfs -text
print-pim.c filter=lfs diff=lfs merge=lfs -text
README.version filter=lfs diff=lfs merge=lfs -text
pcap-missing.h filter=lfs diff=lfs merge=lfs -text
print-arp.c filter=lfs diff=lfs merge=lfs -text
print-eigrp.c filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
chdlc.h filter=lfs diff=lfs merge=lfs -text
llc.h filter=lfs diff=lfs merge=lfs -text
print-atalk.c filter=lfs diff=lfs merge=lfs -text
print-hncp.c filter=lfs diff=lfs merge=lfs -text
print-snmp.c filter=lfs diff=lfs merge=lfs -text
CHANGES filter=lfs diff=lfs merge=lfs -text
print-ascii.c filter=lfs diff=lfs merge=lfs -text
print.c filter=lfs diff=lfs merge=lfs -text
signature.c filter=lfs diff=lfs merge=lfs -text
atm.h filter=lfs diff=lfs merge=lfs -text
openflow.h filter=lfs diff=lfs merge=lfs -text
print-slow.c filter=lfs diff=lfs merge=lfs -text
nameser.h filter=lfs diff=lfs merge=lfs -text
print-calm-fast.c filter=lfs diff=lfs merge=lfs -text
print-ip6.c filter=lfs diff=lfs merge=lfs -text
print-medsa.c filter=lfs diff=lfs merge=lfs -text
addrtostr.c filter=lfs diff=lfs merge=lfs -text
print-ospf6.c filter=lfs diff=lfs merge=lfs -text
slcompress.h filter=lfs diff=lfs merge=lfs -text
tcpdump.c filter=lfs diff=lfs merge=lfs -text
print-carp.c filter=lfs diff=lfs merge=lfs -text
print-dvmrp.c filter=lfs diff=lfs merge=lfs -text
aclocal.m4 filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING filter=lfs diff=lfs merge=lfs -text
machdep.c filter=lfs diff=lfs merge=lfs -text
print-krb.c filter=lfs diff=lfs merge=lfs -text
print-wb.c filter=lfs diff=lfs merge=lfs -text
print-smtp.c filter=lfs diff=lfs merge=lfs -text
config.h filter=lfs diff=lfs merge=lfs -text
ipproto.h filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
print-lldp.c filter=lfs diff=lfs merge=lfs -text
print-pktap.c filter=lfs diff=lfs merge=lfs -text
configure filter=lfs diff=lfs merge=lfs -text
ip6.h filter=lfs diff=lfs merge=lfs -text
print-dccp.c filter=lfs diff=lfs merge=lfs -text
print-rsvp.c filter=lfs diff=lfs merge=lfs -text
